@media screen and (max-width:576px) {
    /* Nav Related Style Start */
    .nav-ber {
        margin: 0 20px;
        padding-top: 52px;
    }

    .nav-icon {
        display: block !important;
        color: var(--primary-color);
        width: 24px;
        height: 24px;
    }

    .nav-links {
        display: none;
    }
    /* Nav Related Style End */
    /* Banner Related Style Start */
    .banner-container {
        margin: 0 20px;
        flex-direction: column;
        padding-top: 0;
    }

    .banner-left-side {
        margin-top: 52px;
    }

    .banner-left-side h3 {
        font-size: 36px;
        width: 285px;
    }

    .banner-left-side p {
        width: 274px;
    }

    .btn {
        display: flex;
    }

    .fitness-images-container {
        text-align: center;
        padding-top: 48px;
    }

    .learn-video-tutorial {
        bottom: 40%;
        right: 55%;
    }
    
    .learn-free-videos {
        top: 15%;
        left: 55%;
    }
    /* Banner Related Style Start */
    /* Habits Related Style Start */
    .change-habits-container {
        margin: 0 20px;
        
    }

    .change-habits-content {
        width: 316px;
    }

    .change-habits-content h3 {
        font-size: 32px;
    }

    .change-habits-content-img {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 58px;
        gap: 40px;
        justify-items: center;
    }
    /* Habits Related Style End */

    /* Run Related Style Start */
.run-an-extra-container {
    margin: 66px 20px;
}

.run-content-container {
    flex-direction: column;
    padding: 30px 33px;
    gap: 31px;
}

.run-content {
    width: 287px;
}

.run-content h3 {
    font-size: 32px;
}

.run-img {
    width: 100%;
}
/* Run Related Style End */
/* BMI Calculator Related Style Start */
.bmi-content {
    margin: 0 20px;
}

.bmi {
    width: 353px;
    margin-bottom: 0;
    margin-left: 0;
}

.bmi h3 {
    font-size: 32px;
}

.bmi-calculator-container {
    margin: 34px 20px;
    flex-direction: column;
    gap: 42px;
    padding: 34px 0;
}

.bmi-calculator-chart h3 {
    margin-bottom: 23px;
}
/* BMI Calculator Related Style End */
/* Meet Our Team Related Style Start */
.meet-team-container {
    margin: 66px 20px;
}

.meet-team-content {
    width: 309px;
}

.meet-team-content h3 {
    font-size: 32px;
}

.out-team-member {
    grid-template-columns: repeat(1, 1fr);
}
/* Meet Our Team Related Style End */
/* footer Related Style Start */
.footer-container {
    margin: 0 20px;
}

.footer-content {
    flex-direction: column;
    gap: 30px;
}

.fitness-first {
    width: 317px;
    padding-top: 30px;
    padding-bottom: 0;
}

.our-services-container {
    flex-direction: column;
}

.fitness-services {
    padding-top: 0px;
    padding-bottom: 39px;
}
/* Footer Related Style End */
}
