@media screen and (max-width:576px) {
    /* Nav Related Style Start */
    .nav-ber {
        margin: 0 20px;
        padding-top: 52px;
    }

    .nav-icon {
        display: block;
        color: var(--primary-color);
        width: 24px;
        height: 24px;
    }

    .nav-links {
        display: none;
    }
    /* Nav Related Style End */
    /* Banner Related Style Start */
    .banner-container {
        margin: 0 20px;
        flex-direction: column;
        padding-top: 0;
    }

    .banner-left-side {
        margin-top: 52px;
    }

    .banner-left-side h3 {
        font-size: 36px;
        width: 285px;
    }

    .banner-left-side p {
        width: 274px;
    }

    .btn {
        display: flex;
    }

    .fitness-images-container {
        text-align: center;
        padding-top: 48px;
    }

    .learn-video-tutorial {
        bottom: 40%;
        right: 55%;
    }
    
    .learn-free-videos {
        top: 15%;
        left: 55%;
    }
    /* Banner Related Style Start */
    /* Habits Related Style Start */
    .change-habits-container {
        margin: 0 20px;
        
    }

    .change-habits-content {
        width: 316px;
    }

    .change-habits-content h3 {
        font-size: 32px;
    }

    .change-habits-content-img {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 58px;
        gap: 40px;
        justify-items: center;
    }
    /* Habits Related Style End */


}