@media screen and (min-width:768px){ 
    .nav-icon {
        display: none;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

    /* Nav Related Style Start*/
.nav-ber {
    margin: 0 30px;
    padding-top: 52px;
}

.nav-icon {
    display: none;
}

.banner-container {
    margin: 0 72px;
    flex-direction: column;
    padding-top: 0;
}

.fitness-images-container {
    text-align: center;
    padding-top: 48px;
}

.learn-video-tutorial {
    bottom: 20%;
    right: 55%;
}

.learn-free-videos {
    top: 15%;
    left: 55%;
}

/* Habits Related Style Start */
.change-habits-container {
    margin: 84px 30px;
    
}

.change-habits-content {
    width: 475px;
}

.change-habits-content h3 {
    font-size: 48px;
}

.change-habits-content-img {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 54px;
    gap: 40px;
    justify-items: center;
}
/* Habits Related Style End */
/* Run Related Style Start */
.run-an-extra-container {
    margin: 0 30px;
    margin-bottom: 72px;
}

.run-content-container {
    justify-content: space-between;
    padding: 40px 43px 40px 54px;
    gap: 68px;
}

.run-content {
    width: 263px;
}

.run-content h3 {
    font-size: 36px;
}
/* Run Related Style End */
/* Meet Our Team Related Style Start */
.meet-team-container {
    margin: 72px 30px;
}
/* Meet Our Team Related Style End */
}